configuration.nix.bak.*
result
.bashrc

# secrets
*.key
*.pem
*.pfx
*.p12
*.agekey
.env
.env.*
secrets/
**/secrets/
**/*secret*
**/*token*

# runtime/state (asla repo değil)
srv/
var/
run/
**/logs/
**/*.log
**/backups/
**/*.sql
**/*.sql.gz
**/*.tgz
**/*.tar
**/*.tar.gz

# editor / misc
.DS_Store
*~
*.swp
