name: flake-check

on:
  push:
    branches: [ main ]
    paths:
      - "flake.nix"
      - "flake.lock"
      - "nixos/**"
  pull_request:
    paths:
      - "flake.nix"
      - "flake.lock"
      - "nixos/**"
  workflow_dispatch:

jobs:
  nix-flake-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes

      - run: nix flake check
